.nav {
    grid-area: gridNav;
    background-color: rgb(111, 129, 148);
    padding: 25px;
}

.item a {
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
}

.item a.active {
    color: lightskyblue;
    background-color: maroon;
    font-size: 20px;
}

.item a:hover {
    color: burlywood;
}