* {
  margin: 0;
  padding: 0;
}
.app-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  "gridHeader gridHeader"
  "gridNav  gridContent";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
  grid-area: gridContent;
  background-color: lightsalmon;
}








.mainImage {
  width: 90%;
  /* height: 100%;
  position: absolute;
  overflow: hidden;
  box-sizing: border-box; */
}