.dialogs {
    display: grid;
    grid-template-columns: 2fr 9fr;
}

.dialogsItem {
    padding: 10px;
}

.dialogsItem .active {
    color: lightseagreen;
}

.messages {
    padding: 10px;
}

.dialogLink {
    text-decoration: none;
    color: limegreen;
}

.dialogLink:hover {
    color: rgb(49, 52, 207)
}